<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js"></script>
  </head>
  <body>
    <header><h1>New York Times <a href="/">{Scraped}</a></h1></header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          {{#each sections}}
            <li><a href="/scraped/{{sanitized_name}}" data-name="{{sanitized_name}}">{{name}}</a></li>
          {{/each}}
        </ul>
      </div>
    </nav>
    {{{body}}}
  </body>
  <script src="/javascripts/textflash.js"></script>
  <script src="/javascripts/comments.js"></script>
  <script src="/javascripts/scrape.js"></script>
</html>
